/* For new_item_admin */
.form-container {

    width: 100%;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

#itemForm {
    left: 100%;
    /* Start off-screen */
}

.slide-in {
    transform: translateX(-100%);
    /* Slide in */
}

.slide-out {
    transform: translateX(100%);
    /* Slide out */
}


/* preloader style */
body.loading,
html.loading {
    overflow: hidden;
}

.loading-spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.blurred {
    filter: blur(5px);
    pointer-events: none;
    /* Disable interaction with blurred content */
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    transition: opacity 0.5s ease;
    pointer-events: none;
}